[Desktop Entry]
Type=Application
Name=polar_lights_tv
Comment=A new Flutter project.
Icon=com.alexsherkhan.polar_lights_tv
Exec=/usr/bin/com.alexsherkhan.polar_lights_tv
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=
OrganizationName=com.alexsherkhan
ApplicationName=polar_lights_tv
